<div class="sidebar">
  <ul class="menu">
    <li>
      <a href="#"> <img src="https://static.vecteezy.com/system/resources/previews/000/596/678/large_2x/circle-line-logo-template-vector-icon.jpg" height="50" alt=""> </a>
    </li>
    <li>
      <a href="#"><i class="fa-solid fa-house"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-solid fa-square-poll-vertical"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-solid fa-layer-group"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-solid fa-square-check"></i></a>
    </li>

    <li>
      <a href="#"><i class="fa-solid fa-chart-pie"></i></a>
    </li>

    <li>
      <a href="#"><i class="fa-solid fa-user-group"></i></a>
    </li>

    <li class="bottom">
      <a href="#"><i class="fa-solid fa-dharmachakra"></i></a>
    </li>
    <li class="bottom">
      <a href="#"><i class="fa-solid fa-gear"></i></a>
    </li>
    <li>
      <a href="">
        <img src="../../../assets/profile.jpg" height="50" alt="">
      </a>
    </li>
  </ul>
</div>
